html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

  a {
    text-decoration: none;   
  }

  a:visited {
      text-decoration: none;
  }


  li {
    list-style-type: none; /* Убираем маркеры */
   }

   html {
    overflow-x: hidden;
      cursor: url('../../img/cursor.cur'), pointer;

  } 

body {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    
}

#mainBlock {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#mainBlockHeaderMenu {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HeaderMenuButtons {
font-size: 14px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
font-family: 'Press Start 2P', cursive;
color: #D9D7D7;

}

.HeaderMenuPoints {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D9D7D7;
}

.welcomeMainText {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: #D9D7D7;
    text-align: center;
    line-height: 20px;
    }
    

@media (max-width: 1200px) {
    
    #mainBlock {
        width: 90%;
    }
    
    #HeaderMenuButtons { 
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        margin-top: 20px;
        font-size: 17px;
     
    }

    #mainBlockHeaderMenu {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }





}

li:hover {
    color: #D8A013;
    cursor: url('../../img/LinkSelect.cur'), pointer;
}


#bookMainGif {
    width: 300px;
}

#welcomeMainTextTheory {

    margin-top: 30px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: #D9D7D7;
    text-align: center;
    line-height: 20px;
    
}

@media (max-width: 1200px) {
    
    #mainBlock {
        width: 90%;
    }
    
    #HeaderMenuButtons { 
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        margin-top: 20px;
        font-size: 17px;
     
    }

    #mainBlockHeaderMenu {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



#theoryMainCatalogBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theoryMainCatalogBlockNumberOfLection {
    margin-top: 65px;
   font-size: 14px;
    font-family: 'Press Start 2P', cursive; 
    color: #fcf4c7
}

.theoryMainCatalogLinks {
    margin-top: 15px;
   font-size: 14px;
    font-family: 'Press Start 2P', cursive; 
    color: #fcf4c7
}

.theoryMainCatalogLinksLight {
   margin-top: 15px;
   font-size: 14px;
    font-family: 'Press Start 2P', cursive; 
    color: #fcf4c7 
}

.theoryMainCatalogLinks:hover {
    color: #F81010;
}

.theoryMainCatalogLinksLight:hover {
    color: #F81010;
}
